/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. 
 * 
 * The initial developer of trinitymobile-custom.css is Rob Gerns.
 * Copyright 2012 Rob Gerns.  All rights reserved.*/
 
/* 
 * trintymobile-custom.css 
 *
 * CSS to customize the Trinity Mobile app without having to worry about 
 * changing or breaking the jQuery Mobile CSS files. Useful for doing 
 * relatively basic CSS stuff, like removing underlines from links or
 * changing page title text colors.
 *
 * It's recommended that you use this file to modify basic CSS properties
 * and to leave the jQuery Mobile CSS file(s) alone unless you REALLY know
 * what you're doing there.
 * 
 */
 
 
/*
 * This seems to only work when set using in-line styles in the HTML.
 * The in-line styles aren't really the desired approach since that 
 * forces a mix of content and presentation and makes changes a pain.  
 * But it doesn't seem to work otherwise.  If you can figure out how 
 * to make the following work without having to use in-line styles, 
 * please submit your fix.*/  
 
 /*
 //Give the main screen icons a nice grid layout
 .homeLeftColumn {
     float: left; 
     display: inline; 
     width: 45%; 
     text-align: center;
 }
 .homeRightColumn {
     float: right; 
     display: inline; 
     width: 45%; 
     text-align: center;
 }
 */
 
 //Make the main screen links look like icon text
 .mainLinks a {
     color: #FFFFFF;
     text-decoration: none;
     text-align: center;
     font-weight: bold;
 }
 .mainLinks a:link {
     color: #FFFFFF;
     text-decoration: none;
     text-align: center;
     font-weight: bold;
 }
 .mainLinks a:hover {
     color: #FFFFFF;
     text-decoration: none;
     text-align: center;
     font-weight: bold;
 }
 .mainLinks a:visited {
     color: #FFFFFF;
     text-decoration: none;
     text-align: center;
     font-weight: bold;
 }
 //Remove any image borders on main screen icons
 .mainLinks img {
     border: none;
 }
 //Apply the same to everything else that might be part of the icons
 .mainLinks {
     text-align: center;
     font-weight: bold;
 } 